* {
    padding: 0px;
    margin: 0px;
    font-size: 40px;
  } 

  .box-one {
    background-color: red;
    padding: 20px;
    border: 20px solid purple;
    margin: 20px;
  } 
  
  .box-two {
    background-color: blue;
    border: 0 solid yellow;
  } 